.p-header {
    background: #1F3766;;
    position: relative;
  }
  
.p-menu {
    width: 135px;
    height: 45px;
    margin-left: 15px;
  }

.p-content {
  height: calc( 100vh - 9em);
  overflow-y:scroll;
  background: url('pattern.png'), linear-gradient(156.39deg, #1B80B9 7.75%, #0E3977 100.99%); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

}

.p-content-ios {
  height: calc( 100vh - 11em);
  overflow-y:scroll;
  background: url('pattern.png'), linear-gradient(156.39deg, #1B80B9 7.75%, #0E3977 100.99%); 
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;

}
