.video-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;   /* по горизонтали */
  align-items: center;       /* по вертикали */
  
}

.video-wrapper {
  width: 100%;
  max-width: 600px;          /* чтобы не разъезжалось на больших экранах */
}

.video-wrapper video {
  width: 100%;
  height: auto;
}
