
.n-btn-wrapper {

    display: flex;
    width: 90%;
    flex-grow: 1;
    justify-content: space-between;
    background: var(--ion-color-primary);
    border-radius: 25px;
    flex-wrap: wrap;
    padding-right: 2px;
    position: sticky;
    z-index: 1000;
    top: 5px;
    margin-left: auto;
    margin-right: auto;

}

.n-button {

    --border-radius: 25px;
    height: 45px;
    width: 48%;
    --background: var(--app-gradient);  
    --background-activated: var(--app-cta-gradient);

}

.n-outline {

    --background: transparent;
    --border-width: 1px;
    --border-color: var(--ion-color-primary);
    --border-style: solid;

}

.n-outline ion-text {

    color: var(--ion-color-primary);

}

.n-backgroundGrey {

    --background: var(--ion-color-primary);

}

.n-backgroundGrey ion-text {

    color: var(--ion-color-primary-contrast);

}
  
.lightBlue {

    --background: var(--app-cta-gradient);
  
}
  