.pt-05{    padding-top: 0.5em;}
.pt-1{    padding-top: 1em;}
.pt-2{    padding-top: 2em;}
.pt-3{    padding-top: 3em;}
.pt-4{    padding-top: 4em;}

.pb-05{    padding-bottom: 0.5em;}
.pb-1{    padding-bottom: 1em;}
.pb-2{    padding-bottom: 2em;}
.pb-3{    padding-bottom: 3em;}
.pb-4{    padding-bottom: 4em;}

.pl-05{    padding-left: 0.5em;}
.pl-1{    padding-left: 1em;}
.pl-2{    padding-left: 2em;}
.pl-3{    padding-left: 3em;}
.pl-4{    padding-left: 4em;}

.pr-05{    padding-right: 0.5em;}
.pr-1{    padding-right: 1em;}
.pr-2{    padding-right: 2em;}
.pr-3{    padding-right: 3em;}
.pr-4{    padding-right: 4em;}

.mt-05{    margin-top: 0.5em;}
.mt-1{    margin-top: 1em;}
.mt-2{    margin-top: 2em;}
.mt-3{    margin-top: 3em;}
.mt-4{    margin-top: 4em;}

.ml-05{    margin-left: 0.5em;}
.ml-1{    margin-left: 1em;}
.ml-2{    margin-left: 2em;}
.ml-3{    margin-left: 3em;}
.ml-4{    margin-left: 4em;}

.mr-05{    margin-right: 0.5em;}
.mr-1{    margin-right: 1em;}
.mr-2{    margin-right: 2em;}
.mr-3{    margin-right: 3em;}
.mr-4{    margin-right: 4em;}

.ml-auto { margin-left: auto;}
.mr-auto { margin-right: auto;}

.a-center{    text-align: center;}
.a-left {    text-align: left;}
.a-right {    text-align: right;}
.hidden {    display: none}
.m-input {
    margin-top: 1em;
    margin-bottom: 1em;
    --placeholder-color:initial;
    --placeholder-font-style:initial;
    --placeholder-font-weight:initial;
    --placeholder-opacity:.5;
    --padding-top: 1em;
    --padding-end:0;
    --padding-bottom:1em;
    --padding-start:0;
    --background:transparent;
    --color:initial;
    position:relative;
    -ms-flex-align:center;
    align-items:center;
    padding:0 !important;
    z-index:2;

    border-radius:var(--border-radius);
    padding-left:var(--padding-start);
    padding-right:var(--padding-end);
    padding-top:var(--padding-top);
    padding-bottom:var(--padding-bottom);
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
    letter-spacing:inherit;
    text-decoration:inherit;
    text-indent:inherit;
    text-overflow:inherit;
    text-transform:inherit;
    white-space:inherit;
    color:inherit;
    display:inline-block;
    -ms-flex:1;
    flex:1;
    width:100%;
    max-width:100%;
    max-height:100%;
    border:0;
    outline:none;
    background:transparent;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none

}

.m-input-1 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    --placeholder-color:initial;
    --placeholder-font-style:initial;
    --placeholder-font-weight:initial;
    --placeholder-opacity:.5;
    --padding-top: 1em;
    --padding-end:0;
    --padding-bottom:1em;
    --padding-start:0;
    --background:transparent;
    --color:initial;
    position:relative;
    -ms-flex-align:center;
    align-items:center;
    padding:0 !important;
    z-index:2;

    border-radius:var(--border-radius);
    padding-left:var(--padding-start);
    padding-right:var(--padding-end);
    padding-top:var(--padding-top);
    padding-bottom:var(--padding-bottom);
    font-family:inherit;
    font-size:inherit;
    font-style:inherit;
    font-weight:inherit;
    letter-spacing:inherit;
    text-decoration:inherit;
    text-indent:inherit;
    text-overflow:inherit;
    text-transform:inherit;
    white-space:inherit;
    color:inherit;
    display:inline-block;
    -ms-flex:1;
    flex:1;
    width:100%;
    max-width:100%;
    max-height:100%;
    border:0;
    outline:none;
    background:transparent;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none

}

.a-link{
    color: blue;
    text-decoration: underline;
}
.cl-gray{
    color: gray;
}
.cl-blue{
    color: blue;
}

.cl-whie{
    color: white
}
.w-10 { width: 10% }
.w-20 { width: 20% }
.w-30 { width: 30% }
.w-40 { width: 40% }
.w-50 { width: 50% }
.w-60 { width: 60% }
.w-70 { width: 70% }
.w-80 { width: 80% }
.w-90 { width: 90% }
.w-100 { width: 100% }
.w-1 { width: 1em }
.w-15 { width: 1.5em }
.w-2 { width: 2em }
.w-25 { width: 2.5em }
.w-3 { width: 3em }
.w-35 { width: 3.5em }
.w-4 { width: 4em }

.h-10 { height: 10% }
.h-20 { height: 20% }
.h-30 { height: 30% }
.h-40 { height: 40% }
.h-50 { height: 50% }
.h-60 { height: 60% }
.h-70 { height: 70% }
.h-80 { height: 80% }
.h-90 { height: 90% }
.h-100 { height: 100% }
.h-1 { height: 1em }
.h-15 { height: 1.5em }
.h-2 { height: 2em }
.h-25 { height: 2.5em }
.h-3 { height: 3em }
.h-35 { height: 3.5em }
.h-4 { height: 4em }
.hs-10 { height: 10em }

.flex { display: flex; align-items: center; }
.flex-b { display: flex; align-items: end; }
.fl-center {   justify-content: center;}
.fl-right {   justify-content: right;}
.fl-space {   justify-content: space-between;}
.fl-wrap  {   flex-wrap: wrap; }
.fs-05 { font-size: 0.50em }
.fs-06 { font-size: 0.60em }
.fs-07 { font-size: 0.70em }
.fs-08 { font-size: 0.80em }
.fs-09 { font-size: 0.90em }
.fs-1 { font-size: 1em }
.fs-11 { font-size: 1.1em }
.fs-12 { font-size: 1.2em }
.fs-13 { font-size: 1.3em }
.fs-14 { font-size: 1.4em }
.fs-15 { font-size: 1.5em }
.fs-2 { font-size: 1.5em }
.fs-3 { font-size: 2em }
.fs-4 { font-size: 2.5em }
.fs-bold { font-weight: 700 };

.borders {
    border-radius: 0.5em;
    border: 1px solid silver;
    padding: 1em;
    position: relative;
}

.borders1 {
    border-radius: 0.5em;
    border: 1px solid silver;
    padding: 1em;
    position: relative;
}
.borders-wp {
    border-radius: 0.5em;
    border: 1px solid silver;
    position: relative;
}

.t-underline {
    border-bottom: 1px solid silver;
}

.t-upperline {
    border-top: 1px solid silver;
}

.bg-1 {
    background: #3f64a9;    
    color: white
}

.bg-2 {
    background: linear-gradient(164.84deg, #1B7DB6 8.63%, #0F3C79 89.24%); /**var(--ion-item-background, var(--ion-background-color, #fff));**/
    color: white; 
}
.bg-3 {
    background: white;
    color: #3f64a9;     
}

.cl-green {
    color: yellowgreen
}

.cl-red {
    color: rgb(252, 173, 3)
}
.cl-red1 {
    color: rgb(255, 0, 0)
}

.cl-prim {
    color: #3f64a9;    
}
.cl-black {
    color: black
}
.cl-white {
    color: white
}

.scroll {
    overflow-y: scroll;
    overflow-x: scroll;
}
/* @font-face {
    font-family: "OpenSans";
    src: url('../public/assets/fonts/OpenSans/OpenSans-Bold.ttf'); 
};
 */

 .checklist ion-item > input {
    align-self: start;
    margin-top: 0.3rem;
    margin-right: 0.3rem;
}

